body {
  height: 400px;
  width: 670px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  border-radius: 5px;
  min-height: 200px;
}

.red {
  background-color: #ff0000;
  color: white;
}
/* #red :hover {
  background-color: #fff6f6;
  color: rgb(119, 52, 52);
} */
.yellow {
  background-color: #ffeeaa;
}
h1 {
  margin-bottom: 1px;
  padding-left: 0;
  margin-left: 5px;
}

h5 {
  margin-top: 2px;
  padding-left: 0;

  margin-left: 5px;
}

.pill {
  padding: 6px 12px 6px 12px;
  margin: 5px;
  border-radius: 4px;
  border: 1px solid;
  text-overflow: ellipsis;
  overflow: hidden;
}

#aliases {
  overflow-y: scroll;
  height: 270px;
}
#aliases::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}
#aliases::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #1f6aa8;
}
.alias {
  border-color: #35b1ea;
  width: 100px;
  float: left;
  text-overflow: ellipsis;
  overflow: hidden;
}

.url {
  border-color: #4cae4c;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 200px;
}

.alias:hover {
}

.url:hover {
}

.icon {
  padding: 6px 12px 6px 12px;
  margin: 5px;
  height: 16px;
  width: 16px;
  float: left;
}

#new_alias {
  margin-top: 25px;
  margin-bottom: 15px;
  clear: both;
  display: flex;
  flex-direction: row;
}

#new_alias > input {
  margin-right: 5px;
}

.button {
  padding: 6px 12px 6px 12px;
  margin: 5px;
  font-size: 14px;
  text-align: center;
  background-color: #5cb85c;
  border-radius: 4px;
  border: 1px solid;
  border-color: #4cae4c;
  color: #fff;
}

.button + label {
  padding: 6px 12px 6px 12px;
  margin: 5px;
  font-size: 14px;
  text-align: center;
  background-color: #5cb85c;
  border-radius: 4px;
  border: 1px solid;
  border-color: #4cae4c;
  color: #fff;
}
/* #header {
  margin-bottom: 0;
  padding: 0;
} */
.danger {
  background-color: #b94444;
  border-color: #813d3d;
}

.button:hover {
  background-color: #2fa32f;
}

.danger:hover {
  background-color: #9e1a1a;
}

.warning {
  background-color: #b3c838;
  border-color: #93a114;
}
.warning:hover {
  background-color: #a2b828;
}

.warning:hover + label {
  background-color: #a2b828;
}

.warning + label {
  background-color: #b3c838;
  border-color: #93a114;
}

input {
  font-size: 14px;
  border-radius: 4px;
  border-width: 1px;
  padding: 3px;
  padding-left: 6px;
  padding-right: 6px;
  border: 1px solid #ccc;
  color: #555;
}

input[type="text"]:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}

.removeBtn:hover {
  content: url("../img/x-square-fill.svg");
}
div {
  box-sizing: border-box;
}

.table-container {
  display: block;
  margin: 2em auto;
  width: 90%;
  max-width: 600px;
}

.flag-icon {
  margin-right: 0.1em;
}

.flex-table {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: nowrap;
  border-left: solid 1px #d9d9d9;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/* .flex-table:first-of-type {
  border-top: solid 1px #1565c0;
  border-left: solid 1px #1565c0;
} */
.flex-row:first-of-type .flex-row {
  background: #3b7ec0;
  color: white;
  border-color: #1565c0;
}
#tableHeader {
  background-color: #3b7ec0;
  color: white;
  border-color: #1565c0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/* .flex-table.row:nth-child(odd) .flex-row {
  background: #f4f2f1;
} */
.flex-table:not(#tableHeader):hover {
  background: #6b86ff;
  -webkit-transition: 500ms;
  transition: 500ms;
}
.flex-table:not(#tableHeader):hover > div {
  background: #6b86ff;
  -webkit-transition: 500ms;
  transition: 500ms;
  color: black;
}

#total {
  background-color: rgb(181, 217, 238);
  font-weight: bold;
}

.flex-row {
  width: 110px;
  text-align: center;
  padding: 0.5em 0.5em;
  border-right: solid 1px #d9d9d9;
  border-bottom: solid 1px #d9d9d9;
  word-wrap: break-word;
}

/* .flex-row:first-of-type {
  background-color: #2fa32f;
} */

.rowspan {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: nowrap;
  -webkit-box-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  justify-content: center;
}

.column {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: nowrap;
  padding: 0;
}
.column .flex-row {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: nowrap;
  padding: 0;
  border: 0;
  border-bottom: solid 1px #d9d9d9;
}
.column .flex-row:hover {
  background: #f5f5f5;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.sorted {
  background-color: rgb(20, 31, 56);
}

.sortable:hover {
  cursor: pointer;
  background-color: rgb(125, 140, 173);
}

.svgWrapper{
  position:absolute;
  top:43px;
  left:485px;

}